body
{
  box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(0, 0, 0); */
   color: rgb(0, 0, 0);  
  height: 1600px;px;
  /* font-family:  'Be Vietnam Pro', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(0, 0, 0);
}


header::after
{
  content: "";
  /* height: 800px; */
  background: url("images/camera-gad039489f_1920.jpg")  center/cover;
 position: absolute; 
 /* top: 58px; */
  width: 100%;
  height: 720px; 
  z-index: -1;
  /* opacity: 0.8; */
}
.navbar{
  display: flex;
  justify-content:space-between ;  
  align-items: center;
  background-color: rgb(255, 255, 255);
  /* margin-top: -10px; */
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: px;
  position: fixed;
  width: 100%;

}
.navigation
{
  display: flex;
  justify-content:right ; 
  margin-bottom: 3px;
}
nav .logo-pic
{

background-color: rgb(255, 255, 255);
width:200px;
margin-top: 9px;
margin-bottom: 2px;

}
li
{
  list-style: none;
  padding: 12px 24px;
  margin: 1px;
  background-color: rgb(255, 255, 255);
}
h1
{
  margin-top: -40px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(30, 255, 0);
}
.home-container
{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 1000px;
  /* border-radius: 20% 10% 21% 10% ; */
  /* margin-top:-15px; */
  display: flex;
  flex-direction: column;
 justify-content:center;
  /* align-items:center ; */
  background-color: rgb(255, 255, 255);
  /* opacity: 0.5; */
 height: 720px;
}
.home-container:hover 
{
  /* border-radius: 10% 0% 0% 10%; */
  transition: 0.5s; 
  justify-content:center;
  align-items:center ;
margin-left: 60%;
transition: .5s;

}

.home-container img
{
  width: 50;
  width: 60%;
  /* margin-top: -100px; */
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
  
}


li:hover
{
  border-bottom:3px solid rgb(30, 255, 0); ;
  /* background-color: rgb(238, 121, 26); */
  /* transition: 0.5s; */
}


/* <!--Service section --> */
.service-container 
{  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}  
#Service
{
text-align: center;
background-color: rgb(0, 0, 0);
/* width:90%; */
/* height: 320px; */
display: flex;
justify-content: center;
gap: 60px;
/* overflow: hidden; */


}
.service-container h1{
  color:rgb(255, 255, 255); 
  margin-top: 20px;
}
.service-container h2
{
  color:rgb(0, 0, 0); 
  margin-top: 10px;
  font-size: 24px;
}
#Service .block-1,.block-2,.block-3
{
  background-color: rgb(255, 255, 255);
  width: 26%;
  /* padding: 10px 15px; */
  border-radius: 15px;
  border: 3px solid rgb(30, 255, 0);
  overflow: hidden; 
height: 320px;

}
.image-box img
{
  width: 100%; 
  border-radius: 0px;
}

#Service .block-1:hover,#Service .block-2:hover,#Service .block-3:hover
{
  /* height: 420px; */
 height: 500px;
  transition: all 0.7s 0s ease-in-out;


}
/* #Service:hover 
{
height: 600px;
} */
/* testimonial --------------------------------------*/
.testimonial-container
{
  margin-top: 80px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;

}
.testimonial-container h1
{
  color: white;
}
.testimonial 
{
  
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 400px;
  margin-top: 20px;

}
.testimonial .block-T1,.testimonial .block-T2,.testimonial .block-T3
{
  position: relative;
  width:300px ;
  background-color: rgb(255, 255, 255);
text-align: center;
border-radius: 20px;

}
.testimonial .image-box
{
  position: absolute;
 left: 30%;
 top: -50px;
  width: 100px;
  margin: auto;
  /* border-radius: 65px; */
}
.testimonial img
{
 
  width: 120px;
  border-radius: 65px;
} 
.testimonial h2{
 margin-top: 80px;
 color :rgb(255, 72, 0);
 font-weight: 800;
}
.testimonial p{
  padding: 0px 20px 10px;
  
}
